<h1>{{title}}</h1>
<h2>My Heroes</h2>
<div class="error" *ngIf="error">{{error}}</div>
<button class="buttonCls topButton" (click)="addHero()">Add New Hero</button>
<ul class="heroes">
    <li *ngFor="let hero of heroes"  [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
     <span class="hero-element">
       <span class="badge">{{hero._id}}</span> {{hero.name}}
     </span>
        <button class="delete-button" (click)="deleteHero(hero, $event)">Delete</button>
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button class="buttonCls" (click)="gotoDetail()">View Details</button>
</div>